pkgbase = clicloud-bin
	pkgdesc = Terminal music player built on yt-dlp and mpv (binary release)
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/seventwogth/clicloud
	arch = x86_64
	license = MIT
	depends = gcc-libs
	depends = glibc
	depends = mpv
	depends = yt-dlp
	depends = curl
	optdepends = mpv-mpris: media keys and the player of the desktop panel
	optdepends = tor: playing through Tor with --tor
	provides = clicloud
	conflicts = clicloud
	source = https://github.com/seventwogth/clicloud/releases/download/v0.1.1/clicloud-0.1.1-x86_64-unknown-linux-gnu.tar.gz
	sha256sums = 9e56651f04dd36f7c121aa86de4ba6a19ab52f40d2cc9a34c5e4698f22a2bf84

pkgname = clicloud-bin
