pkgbase = clicloud
	pkgdesc = Terminal music player built on yt-dlp and mpv
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/seventwogth/clicloud
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	depends = mpv
	depends = yt-dlp
	depends = curl
	optdepends = mpv-mpris: media keys and the player of the desktop panel
	optdepends = tor: playing through Tor with --tor
	source = clicloud-0.1.0.tar.gz::https://github.com/seventwogth/clicloud/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = 97d2a0214d06e88e55d5efacc062cd5e74618b3a47a620a2f949bcd0bea17b7a

pkgname = clicloud
